body {
    display: flex;
    justify-content: center;
}
viewport {
    border: 2px solid black;
    width: 98vw;
    height: 98vh;
    max-height: 600px;
    max-width: 700px;
    display: flex;
    overflow: hidden;
}

.menu { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu .open{
    left: -100px;
}

.menu > *{ 
    border: 2px solid green;
}

#weather {
    border: 2px solid red;
    height: 2em;
    max-width: 150px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#weather label {
    color: #595959;
    font-size: 1.98em;
    vertical-align: top;
    font-family:monospace;
    font-weight: 700;
}

#weather img {
    aspect-ratio: 1 / 1;
    width: 1.98em;
    object-fit: contain;
}

#Stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    width: 100%;
}

#Stats meter {
    float: right;
    z-index: 1;
}

@keyframes fly-left {
    0% {
        transform: translate(0%, 0%);
    }

    100% { 
        transform: translate(-100px, 0%);
    }
}